:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

@media screen and (min-width: 1200px) {
  button {
    background: transparent;
    text-decoration: none;
    border: none;
    border-radius: 0.45em;
    cursor: pointer;
    padding: 0.01rem 1em;
    font-size: 1.5em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px red solid; */
    height: 100px;
    width: 58.75vw;
    max-width: 1750px;
    padding-top: 0;
    /* padding-bottom is only for keeping the components from rendering under the logo until I flesh out the components a little bit more. */
    padding-bottom: 1.5em;
    /* background-color problem: the width needs to be bound to the width of the hero */
    /* background-color: rgba(0, 0, 0, 0.243); */
  }

  .link {
    width: 20%;
    align-items: center;
    /* border: 1px red solid; */
  }

  .movies button {
  }
  .animes button {
    margin-right: 5em;
  }

  .misc button {
    margin-left: 5em;
  }

  .store button {
  }

  .logo {
    flex-shrink: 0;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: 140%;
    background-repeat: no-repeat;
    background-clip: initial;
    position: absolute;
  }

  .img {
    max-width: 100px;
    height: auto;
    display: block;
  }
}
